body {
    min-height: 100vh; /* ocupa toda la altura de la ventana */
    display: flex;
    flex-direction: column; /* organiza en columna */
}

main {
    flex: 1; /* el contenido ocupa el espacio disponible */
}

header{
    text-align: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.reloj {
    align-self: flex-start; /* pongo fecha y reloj a la izquierda */
    font-size: 24px; /* Agrando letras */
    font-weight: bold;
    margin: 5px 0 5px 20px; /* espacio respecto al borde */
}


/*carrusel*/
.carousel-item img {
    height: 400px; /* Ajusta el alto */
    object-fit: cover; /* Recorta la imagen manteniendo proporción */
}

/*fuentes*/
.titulo-nav-footer {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-size: 37pt;
}

.navbar-nav li a {
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-size: 16pt;
}

.foot-Subtitulo{
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-size: 16pt;
}

.section-noticias-p{
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-size: 16pt;
}

.section-Titulo-h1 {
    font-family: "Cabin", sans-serif;
    font-weight: 700;
    font-size: 40pt;
}

.section-SubTitulo-h4 {
    font-family: "Cabin", sans-serif;
    font-weight: 700;
    font-size: 20pt;
}

.card-body h5 {
    font-family: "Cabin", sans-serif;
    font-weight: 700;
    font-size: 23pt;
}

.card-body p {
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-size: 16pt;
}

.carousel-item h3{
    font-family: "Cabin", sans-serif;
    font-weight: 700;
    font-size: 28pt;
}

.carousel-item p {
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-size: 16pt;
}

/*noticias generales*/
.noticiasGenerales {
    display: none; /* Oculta por defecto */
}

/*contenido adicional*/
.ticker {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
}

.ticker p {
    display: inline-block;
    padding-right: 2rem;
    animation: ticker-move 25s linear infinite;
}

@keyframes ticker-move {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

/*animacion card*/
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

/*contador total*/
.contador-total {
    text-align: center; /* centra horizontalmente */
    margin: 20px 0; /* espacio arriba y abajo */
}

.contador-total h2 {
    font-size: 1.8rem; /* tamaño de fuente más grande */
    color: #333; /* color del texto */
}

@media (max-width: 600px) {

    /*Ver Tarjetas Noticias Genenrales*/
    .noticiasGenerales {
        display: block;
    }

        /*fuentes*/
        .titulo-nav-footer {
            font-family: "Lobster", sans-serif;
            font-weight: 400;
            font-size: 30pt;
        }
    
        .navbar-nav li a {
            font-family: "Cabin", sans-serif;
            font-weight: 400;
            font-size: 16pt;
        }
    
        .foot-Subtitulo {
            font-family: "Cabin", sans-serif;
            font-weight: 400;
            font-size: 16pt;
        }
    
        .section-noticias-p {
            font-family: "Cabin", sans-serif;
            font-weight: 400;
            font-size: 16pt;
        }
    
        .section-Titulo-h1 {
            font-family: "Cabin", sans-serif;
            font-weight: 700;
            font-size: 20pt;
        }
    
        .section-SubTitulo-h4 {
            font-family: "Cabin", sans-serif;
            font-weight: 700;
            font-size: 16pt;
        }
    
        .card-body h5 {
            font-family: "Cabin", sans-serif;
            font-weight: 700;
            font-size: 18pt;
        }
    
        .card-body p {
            font-family: "Cabin", sans-serif;
            font-weight: 400;
            font-size: 14pt;
        }
}